html, body {
    height: 100%;
  }

body{
    margin:0;
    background-color: lightblue;
padding-top: 70px; 
}

thead{
    font-weight: bold;
}
.navbar {
    margin-top: -70px;
}

.custom{
    width: 200px !important;
}